

<!-- Page Content -->
  <div class="container">
    <div class="row mt-5 mb-5">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb bg-dark mt-4">
            <li class="breadcrumb-item">
              <a class="text-light" href="<?php echo base_url();?>">Beranda </a>
            </li>
            <li class="breadcrumb-item active">
              <a class="text-light" href="<?php echo base_url('Kritik_Saran');?>">Kritik dan Saran</a>
            </li>
          </ol>

        <!-- Title -->
        <h2 class="mt-4"><center><?php echo $kontak; ?></center></h2>

        <!-- Author -->
        <hr>
        <p class="lead">
          <div class="bio-pic  mr-3">
              <p class="mt-4">
                Kami senantiasa berupaya mengembangkan kualitas website ini demi interaksi yang baik terhadap pengguna. Untuk itu, kami berharap Anda berpartisipasi dalam mendukung peningkatan kualitas website ini dengan jalan ikut serta dalam mengisi kuesioner di bawah ini secara jujur dan terbuka. Kami akan menjaga privasi data pengguna. Dukungan Anda akan sangat berarti dalam pengembangan website ini ke depannya. Terima kasih atas dukungan Anda.
              </p>
          </div>
        </p>

        <!-- Post Content -->
        <p class="lead mt-4">

            <form id="formjawaban" method="POST" action="<?php echo base_url('kritik_saran/jawaban');?>">
                <div class="form-group row"><h3>Identitas Pengguna</h3></div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Nama Lengkap</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="nama" name="nama" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail" class="col-sm-3 col-form-label">E-mail</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" name="email" required>
                  </div>
                </div>
                <fieldset class="form-group">
                  <div class="row">
                    <legend class="col-form-label col-sm-3 pt-0">Gender</legend>
                    <div class="col-sm-9">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="gender" value="pria" required>
                        <label class="form-check-label" for="gridRadios1">
                          Pria
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="gender" value="wanita">
                        <label class="form-check-label" for="gridRadios2">
                          Wanita
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="row">
                      <legend class="col-form-label col-sm-3 pt-0">Profesi</legend>
                      <div class="col-sm-9">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="profesi" id="profesi" value="pegawai negeri sipil" >
                          <label class="form-check-label" for="gridRadios1">
                            Pengawai Negeri Sipil
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="profesi" id="profesi" value="pegawai swasta" required>
                          <label class="form-check-label" for="gridRadios2">
                            Pegawai Swasta
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="profesi" id="profesi" value="wiraswasta / pengusaha">
                          <label class="form-check-label" for="gridRadios2">
                            Wiraswasta / Pengusaha
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="profesi" id="profesi" value="pelajar / mahasiswa">
                          <label class="form-check-label" for="gridRadios2">
                            Pelajar/ Mahasiswa
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="profesi" id="profesi" value="lainnya">
                          <label class="form-check-label" for="gridRadios2">
                            Lainnya
                          </label>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <div class="form-group row"><h3>Pertanyaan</h3></div>
                  <?php echo $kuesioner;?>
                  <hr/>
                  <div class="form-group row"><h3>Kritik dan Saran Untuk Pengembangan Website</h3></div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Kritik dan Saran</label>
                    <div class="col-sm-9">
                      <textarea id="mytextarea" form="formjawaban" rows="10" name="kritiksaran" class="form-control" required placeholder="Silahkan tulis kritik dan saran untuk pengembangan website ke depannya..."></textarea>
                    </div>
                  </div>
                  <hr/>
                <div class="form-group row">
                  
                    <div class="form-group row">
                      <div class="col-sm-7" id="captcha-image">
                        <?php echo $captcha; ?>                        
                      </div>
                      <input class="btn btn-link btn-sm fa fa-undo captcha-refresh" value="Refresh Captcha" type="button"/>    
                      <input type="hidden" class="form-control" id="captcha-kode" name="captcha_kode" value="<?php echo $captcha_kode;?>">
                      <div class="col-sm-5">
                        <input type="text" class="form-control" id="captcha-vertifikasi" name="captcha_vertifikasi" placeholder="Tulis kode captcha..." required>
                      </div>
                    </div>

                </div>
                <div class="form-group row">
                    <input class="btn btn-primary kirim-kuesioner" type="submit" name="submit" value="Submit"/>
                </div>
              </form>

        </p>
      </div>


<script src="<?php echo base_url('asset/jquery/jquery.min.js');?>"></script>  
<script type="text/javascript">
  $(document).ready(function(){
    var BASE_URL = "<?php echo base_url();?>";

    $('.captcha-refresh').on('click', function(){
      $.ajax({
        url: BASE_URL + 'Kritik_Saran/buat_captcha',
        method: 'post',
        dataType: 'json',
        success: function(response){
          $('#captcha-image').html(response.captcha);
          $('#captcha-kode').val(response.captcha_kode);
        },
          error: function (xhr, ajaxOptions, thrownError) { // Ketika terjadi error
            alert(xhr.responseText);
            console.log(xhr.responseText);
          }
        });
    });

    $('.kirim-kuesioner').on('click', function(){
      if($('#captcha-vertifikasi').val()!=$('#captcha-kode').val()){
        alert('Kode captcha salah!');
      }else{

      }
    });

  })
</script>