<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Template by Bootstrap4, modified by Danar Dono (2019)">
  <meta name="title" content="" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link href="<?php echo base_url('asset/logo/logo.png');?>" rel="shortcut icon">
  <meta name="robots" content="noindex, nofollow" />
  <meta name="language" content="id" />
  <meta name="language" content="id" />
  <meta name="geo.country" content="id" />
  <meta http-equiv="content-language" content="In-Id" />
  <meta name="geo.placename" content="Indonesia" />
  <meta http-equiv="Cache-Control" content="no-store" />

  <title>Registrasi Akun</title>

  <!-- Custom fonts for this template-->
  <link href="<?php echo base_url('asset/vendor/fontawesome-free/css/all.min.css');?>" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="<?php echo base_url('asset/admin/css/sb-admin.css');?>" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">
        <center>
          <img src="<?php echo base_url('asset/logo/logo.png')?>" width="100" height="100"><br/>
          <h4>Registrasi Akun</h4>
        </center>
        <!-- Beri id "pesan-error" untuk menampung pesan error -->
        <div id="pesan-error-register" class="alert alert-danger"></div>
      </div>
      <div class="card-body">
        <form id="formBuat" method="POST">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input name="firstname" type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                  <label for="firstName">Nama depan</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input name="lastname" type="text" id="lastName" class="form-control" placeholder="Last name" required="required">
                  <label for="lastName">Nama belakang</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input name="email" type="email" id="email" class="form-control" placeholder="Email address" required="required">
              <label for="inputEmail">E-mail</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input name="phone" type="text" id="phone" class="form-control" placeholder="No telp" required="required">
              <label for="inputTelp">No telp</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input name="company" type="text" id="company" class="form-control" placeholder="Perusahaan/ instansi/ sekolah" required="required">
              <label for="inputPerusahaan">Perusahaan/ Sekolah/ Organisasi</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input name="password" type="password" id="password" class="form-control" placeholder="Password" required="required">
                  <label for="inputPassword">Password</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input name="confirmpassword" type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required">
                  <label for="confirmPassword">Konfirmasi password</label>
                </div>
              </div>
            </div>
          </div>
          <input id="btn-tambah-register" class="btn btn-primary btn-block" type="button" name="submit" value="Register">
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="<?php echo base_url('auth/login');?>">Login</a>
        </div>
      </div>
    </div>
  </div>

  <script src="<?php echo base_url('asset/jquery/jquery.min.js');?>"></script>        
        <!-- Custom js for this page-->
      <script type="text/javascript">
        //register
        $(document).ready(function(){
          var BASE_URL = "<?php echo base_url();?>"; 
          $('#pesan-error-register').hide();        
          $('#btn-tambah-register').on('click', function(){
            $.ajax({
              url: BASE_URL + 'auth/setregister',
              data: $("#formBuat").serialize(),
              method: 'post',
              dataType: 'json',
              success: function(response){
                if(response.status == 'sukses'){
                  $('#firstName').val('');
                  $('#lastName').val('');
                  $('#company').val('');
                  $('#phone').val('');
                  $('#email').val('');
                  $('#confirmPassword').val('');
                  $('#password').val('');
                  $('#pesan-error-register').html(response.pesan).fadeIn().delay(10000).fadeOut();
                }else{
                  $('#pesan-error-register').html(response.pesan).fadeIn().delay(10000).fadeOut();
                }
              },
              error: function (xhr, ajaxOptions, thrownError) { // Ketika terjadi error
                alert(xhr.responseText) 
              }                
            });
          });
        })
      </script>

  <!-- Bootstrap core JavaScript-->
  <script src="<?php echo base_url('asset/admin/vendor/jquery/jquery.min.js');?>"></script>
  <script src="<?php echo base_url('asset/admin/vendor/bootstrap/js/bootstrap.bundle.min.js');?>"></script>

  <!-- Core plugin JavaScript-->
  <script src="<?php echo base_url('asset/admin/vendor/jquery-easing/jquery.easing.min.js');?>"></script>

</body>

</html>
