<div id="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<?php echo base_url('admin/tagar');?>">Tagar</a>
      </li>
    </ol>  
    
    <button type="button" data-toggle="modal" data-target="#modaltambah" class="btn btn-success mb-3 pull-right konfir-tambah">
      <span class="glyphicon glyphicon-plus"></span> &nbsp;Tambah Data
    </button>

    <ol class="breadcrumb">
    <div class="container">
          <!-- DataTables Tabel Kategori -->
          <div class="card mb-12">
            <div class="card-header">
              <i class="fa fa-hashtag"></i>
              <b>Daftar Tagar (Kata Kunci Artikel)</b>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                            <tr>
                                <th><center>No</center></th>
                                <th><center>Tagar</center></th>
                                <th><center>Diakses</center></th>
                                <th><center>Diperbarui</center></th>
                                <th><center>Action</center></th>
                            </tr>
                    </thead>
                    <tbody>
                      <?php $n=1;
                        foreach($tagar->result_array() as $d){
                      ?>
                        <tr>
                          <td><?php echo $n;?></td>
                          <td><a target="_blank" class="btn btn-outline-primary" href="<?php echo base_url('artikel/tagar');?>/<?php echo $d['KATA_KUNCI']; ?>">#<?php echo $d['KATA_KUNCI'];?></a></td>
                          <td><?php echo $d['TOTAL'];?></td>
                          <td><?php echo $d['TANGGAL'];?></td>
                        <td>
                          <center>
                              <a href="#" class="btn btn-primary konfir-edit"  data-toggle="modal" data-target="#modaledit" data-idz="<?= $d['ID_TAGAR'];?>" data-ida="<?= $d['KATA_KUNCI'];?>" data-idb="<?= $d['TOTAL'];?>" data-idc="<?= $d['TANGGAL'];?>">Edit</a>
                              <a href="#" class="btn btn-danger konfir-hapus" data-toggle="modal" data-target="#modalhapus" data-idx="<?= $d['ID_TAGAR'];?>" data-idy="<?= $d['KATA_KUNCI'];?>" >Hapus</a>
                          </center>
                        </td>
                        </tr>
                        <?php $n++;}?>
                    </tbody>  
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Copyright &copy;<script>document.write(new Date().getFullYear());</script> KebaikanKita.com</div>
          </div>
        </ol>
    </div>

    <!-- Modal Hapus -->
    <div class="modal fade" id="modalhapus" tabindex="-1" role="dialog" aria-labelledby="formHapus" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="formHapusJudul">Hapus Tagar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="pesan"></div>
            <form method="post" id="formhapus">
                <input type="hidden" id="idtagar" name="id">
                <p id="tagar-hapus"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-tutup" data-dismiss="modal">Batal</button>
            <button type="button" class="btn btn-danger btn-hapus">Hapus</button>
          </form>
          </div>
        </div>
      </div>
    </div>  
  <!-- Akhir dari modal hapus-->

  <!-- Modal Tambah -->
  <div class="modal fade" id="modaltambah" tabindex="-1" role="dialog" aria-labelledby="judulModalTambah" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="formModalTambahLabel">Tambah #Tagar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="pesan"></div>
            <form method="POST" id="formtambah">
                <div class="form-group">
                    <label for="namakategori">#Tagar (Kata Kunci Artikel):</label>
                    <input type="text" class="form-control" id="katakunci-tambah" name="katakunci" placeholder="Nama #tagar...">
                </div>
                <div class="form-group">
                    <label for="namakategori">Diakses (Total Dikunjungi):</label>
                    <input type="text" class="form-control" id="katakunci-tambah" name="total" placeholder="Total diakses...">
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-tutup" data-dismiss="modal">Tutup</button>
            <button type="button" class="btn btn-primary btn-tambah">Simpan</button>
            </form>
          </div>
        </div>
      </div>
    </div>  
  <!-- Akhir dari modal tambah-->

<!-- Modal Edit -->
<div class="modal fade" id="modaledit" tabindex="-1" role="dialog" aria-labelledby="judulModalEdit" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModalEditLabel">Edit Tagar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="pesan"></div>
          <form id="formedit" method="post">
              <input type="hidden" id="id-edit" name="id">
              <div class="form-group">
                  <label for="namakategori">#Tagar (Kata Kunci Artikel):</label>
                  <input type="text" class="form-control" id="katakunci-edit" name="katakunci">
              </div>
              <div class="form-group">
                  <label for="namakategori">Diakses (Total Diakses):</label>
                  <input type="text" class="form-control" id="total-edit" name="total">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-tutup" data-dismiss="modal">Tutup</button>
          <button type="button" class="btn btn-primary btn-edit">Ubah</button>
          </form>
        </div>
      </div>
    </div>
  </div>  
<!-- Akhir dari modal edit-->

  </div>
  <!-- /.container-fluid -->
 
  <script src="<?php echo base_url('asset/jquery/jquery.min.js');?>"></script>  
  <script type="text/javascript">
  $(document).ready(function(){
    var BASE_URL = "<?php echo base_url();?>";

    $('.konfir-hapus').on('click', function(){
      var idtagar = $(this).data('idx');
      var tagar = $(this).data('idy');
      $('#idtagar').val(idtagar);
      $('#tagar-hapus').html('Anda yakin mau menghapus tagar #' + tagar + '?');
      $('.btn-hapus').on('click',function(){
          $.ajax({
              url: BASE_URL + 'artikel/hapus_tagar',
              data: $("#formhapus").serialize(),
              method: 'post',
              dataType: 'json',
              success: function(response){
                if(response.status=='sukses'){
                  alert(response.pesan);
                  $('.pesan').html('<div class="alert alert-success">'+ response.pesan +'</div>').fadeIn().delay(1000).fadeOut();
                }else{
                  alert(response.pesan);
                  $('.pesan').html('<div class="alert alert-danger">'+ response.pesan +'</div>').fadeIn().delay(1000).fadeOut();
                }
              },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika terjadi error
                  alert(xhr.responseText);
                  console.log(xhr.responseText);
              }
            });
      });
    });

    $('.konfir-edit').on('click', function(){
      var idtagar = $(this).data('idz');
      var tagar = $(this).data('ida');
      var total = $(this).data('idb');
      $('#id-edit').val(idtagar);
      $('#katakunci-edit').val(tagar);
      $('#total-edit').val(total);
      $('.btn-edit').on('click',function(){
          $.ajax({
              url: BASE_URL + 'artikel/ubah_tagar',
              data: $("#formedit").serialize(),
              method: 'post',
              dataType: 'json',
              success: function(response){
                if(response.status=='sukses'){
                  alert(response.pesan);
                  $('.pesan').html('<div class="alert alert-success">'+ response.pesan +'</div>').fadeIn().delay(1000).fadeOut();
                }else{
                  alert(response.pesan);
                  $('.pesan').html('<div class="alert alert-danger">'+ response.pesan +'</div>').fadeIn().delay(1000).fadeOut();
                }
              },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika terjadi error
                  alert(xhr.responseText);
                  console.log(xhr.responseText);
              }
            });
      });
    });

    $('.konfir-tambah').on('click', function(){
      $('.btn-tambah').on('click',function(){
          $.ajax({
              url: BASE_URL + 'artikel/tambah_tagar',
              data: $("#formtambah").serialize(),
              method: 'post',
              dataType: 'json',
              success: function(response){
                if(response.status=='sukses'){
                  alert(response.pesan);
                  $('.pesan').html('<div class="alert alert-success">'+ response.pesan +'</div>').fadeIn().delay(1000).fadeOut();
                }else{
                  alert(response.pesan);
                  $('.pesan').html('<div class="alert alert-danger">'+ response.pesan +'</div>').fadeIn().delay(1000).fadeOut();
                }
              },
                error: function (xhr, ajaxOptions, thrownError) { // Ketika terjadi error
                  alert(xhr.responseText);
                  console.log(xhr.responseText);
              }
            });
      });
    });

    $('.btn-tutup').on('click', function(){
      url ="";
      window.setTimeout(function(){ window.location = url; },1000);
    });

  });
  </script>